nav{
  display: flex;
  align-items: center;
  background-color: rgb(80, 80, 206);
  height: 25px; 
  
}
.logo img{
  filter: sepia(1) saturate(10) hue-rotate(5deg);
}
.others ul{
  font-size: 11px;
  margin-left: 85%;
  display: flex;
  gap: 8px;
  list-style: none;
}
button{
  font-weight: bold;
  font-size: 8px;
  border-radius: 7px;
  border-color: yellow;
  width: 50px;
  height: 15px;
  background-color: yellow;
}