nav{
  display: flex;
  align-items: center;
  background-color: rgb(80, 80, 206);
  height: 25px; 
  
}
.logo img{
  margin-top: 3px;
  filter: brightness(0) saturate(100%) invert(75%) sepia(90%) saturate(1500%) hue-rotate(5deg);
}
.others ul{
  font-size: 11px;
  margin-left: 85%;
  display: flex;
  gap: 8px;
  list-style: none;
}
.join{
  font-weight: bold;
  font-size: 8px;
  border-radius: 7px;
  border-color: yellow;
  width: 50px;
  height: 15px;
  background-color: yellow;
}
.name{
  color:white;
}
.zone{
  color: yellow;
}
.first{
  width: 100%;
  min-height: 200px;
  background-image: url(bg.png); 
  background-size: 100% 100%;
}
.first h3{
  margin: 0px;
}
.build{
  color: white;
}
.best{
  color: yellow;
}
h5{
  color: white;
}
#dot{
  color: yellow;
}